{{ attach_library('artebike/map') }}
{% if page.menu %}
    <div>
        {{ page.menu }}
    </div>
{% endif %}

<nav class="navbar navbar-light pt-4">
    <div class="col-md-10 offset-md-1 col-sm-12">
        <div class="navbar-brand">
          {% if page.branding %}
            {{ page.branding }}
          {% endif %}
        </div>
        <div class="navbar-brand float-right menu-button" onclick="openNav()">
            <a href="#">
                Menu
            </a>
        </div>
    </div>
</nav>

<main class="container tarieven">
    <div class="row top-row pt-5 pb-3">
        <div class="col-xs-12 col-md-6 offset-md-3">
            <h1 class="big-title text-center" data-aos="fade" data-aos-easing="ease-in-sine" data-aos-duration="800">
                {% if page.header %}
                    {{ page.header }}
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row bottom-row pb-5">
        <div class="figure image-container col-6 offset-3 col-md-2 offset-md-5 pt-5" data-aos="fade" data-aos-easing="ease-in-out" data-aos-duration="1200" data-aos-delay="800">
            {% if page.image %}
                {{ page.image }}
            {% endif %}
        </div>
    </div>

    {% if page.content %}
        {{ page.content }}
    {% endif %}

</main>
<main class="container-fluid p-0 m-0">
    <div class="col-12" id="mapid">

    </div>
</main>
{% include '@artebike/partials/footer.html.twig' %}
